@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Indie Flower", cursive;
}
body{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
header{
    flex: 0 1 auto;
}
nav ul{
    list-style: none;
    background-color: rgb(182, 69, 69);
    display: flex;
    gap: 50px;
    padding: 15px;
    justify-content: space-around;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
nav ul li a:hover{
    color: beige;
    text-decoration: underline;
}
main{
    flex: 1 1 auto;
    background: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
h1{
    font-size: 4.5rem;
    color: white;
    text-align: center;
    align-items: center;
}
main p{
    font-size: 2.5rem;
    color: white;
    text-align: center;

}
main .btn{
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
    margin-top: 75px;
}
main .btn:hover{
    color: white;
    background-color: rgb(182, 69, 69);
}
footer{
    flex: 0 1 40px;
    background-color: black;
    width: 100%;
}
footer p{
    font-size: 1rem;
    color: white;
    text-align: center;
}
.logo{
    border-right: 2px solid black;
    border-spacing: 15%;
    padding: 5px;
    color: black;
}
.logo:hover{
    color:black;
    text-decoration: none;
}